@font-face {
    font-family: "worldcup";
    src: url(./Qatar2022Arabic-Bold.ttf);
}

*{
  
    font-family: "worldcup";

}

table{
    background-color: #fff;

}
body{
    background-image: url("./img/background.jpg");

    -webkit-font-smoothing: antialiased;
}
#headerText{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding: 30px 0;
}
#groupeText{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding: 30px 0;
}

/* Table Styles */
